.post {
  max-width: 800px; }
  .post .markdown code:not(.hljs) {
    color: #f14e32;
    background: #eee;
    padding: 2px 6px;
    font-size: 13px; }
  .post .markdown pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.9em;
    white-space: pre;
    overflow-x: auto; }
    .post .markdown pre code {
      padding: 0.7em; }
  .post .markdown ul {
    padding-left: 20px; }
  .post .markdown img {
    border: 1px solid #ccc; }

.header {
  position: relative;
  margin: 0 auto 35px;
  text-align: center; }
  .header .logo a {
    background: #ddd;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    height: 100px;
    width: 100px;
    font-size: 1.5em;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    border: 5px solid #fff;
    box-sizing: border-box; }
    .header .logo a:hover, .header .logo a:focus {
      background: #f14e32; }
    .header .logo a .logo-avatar {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
  .header ul.nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 800px; }
    .header ul.nav li {
      margin-left: 12px; }

