.post {
  max-width: 800px;
  .markdown {
    code:not(.hljs) {
      color: #f14e32;
      background: #eee;
      padding: 2px 6px;
      font-size: 13px;
    }
    pre {
      display: block;
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 0.9em;
      white-space: pre;
      overflow-x: auto;
      code {
        padding: 0.7em;
      }
    }
    ul {
      padding-left: 20px;
    }
    img {
      border: 1px solid #ccc;
    }
  }
}